# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================

.env


# =========================================================
# PYTHON VIRTUAL ENVIRONMENT
# =========================================================

venv/
.venv/


# =========================================================
# PYTHON CACHE
# =========================================================

__pycache__/
*.py[cod]
*$py.class


# =========================================================
# IDE / EDITOR
# =========================================================

.vscode/
.idea/


# =========================================================
# GOOGLE DRIVE CREDENTIALS
# =========================================================

credentials.json
token.json


# =========================================================
# UPLOADED FILES
# =========================================================

uploads/


# =========================================================
# CHROMA VECTOR DATABASE
# =========================================================

chroma_db/


# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db

venv/
__pycache__/
.env
uploads/